<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="https://assets.reviews.com/uploads/2017/11/09094231/very-cute-puppy.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>