<!-- add partials template found in views/partials-->
<% include partials/header%>
<h1>This is the home page</h1>
<img src="http://www.luckiestdogalive.com/wp-content/uploads/2017/10/Siberian-Husky-Puppy.jpg">

<% include partials/footer%>